<div class="tasks-page">
  <app-search-bar [users]="users"
    (filters)="onFiltersChanged($event)"></app-search-bar>
  <nz-table
    #basicTable
    [nzData]="tasks"
    [nzPageIndex]="tableProps.pageIndex"
    [nzPageSize]="tableProps.pageSize"
    [nzTotal]="tableProps.total"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="onPageChange($event)">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Responsible</th>
        <th>Deadline</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (task of basicTable.data; track task) {
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ formatStatus(task.status) }}</td>
        <td>{{ formatPriority(task.priority) }}</td>
        <td>{{ getResponsibleNameById(task.responsibleId) }}</td>
        <td>{{ task.deadline }}</td>
        <td>
          <a (click)="onUpdateClick(task)">Update</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="onDeleteClick(task)">Delete</a>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  <app-update-task-modal (refreshTaskList)="getTasks()"></app-update-task-modal>
  <app-delete-task-modal (refreshTaskList)="getTasks()"></app-delete-task-modal>
</div>
